.weather_app{
    background: linear-gradient(to left, #acb6e5, #86fde8);
    height: 120vh;
}
.text_header{
    background: linear-gradient(to right, #000046, #1cb5e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button_get{
    height: 2.3rem ;
    width: 8rem;
}
.text{
    font-size: 18px;
}
.today{
    display: flex;
    justify-content: center;
    align-items: center;
}